.BTNNEW{
    font-weight: bolder;
    font-size: large;
    width: 100px;
    background-color: rgb(43, 157, 233);

}

.BTNNEW:hover{
    font-size: larger;
    background-color: rgb(78, 66, 241);
}

.btndiv{
    margin-left: 25%;
}